version: "3.9"

services:
  mongodb:
    image: mongo:6.0
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - app-network

  renewal-ocr:
    image: 391984503295.dkr.ecr.us-east-1.amazonaws.com/renewal-ocr:latest
    container_name: renewal-ocr
    restart: always
    volumes:
      - shared_data:/app/shared
    depends_on:
      - mongodb
    networks:
      - app-network

  renewal-whatsapp:
    image: 391984503295.dkr.ecr.us-east-1.amazonaws.com/renewal-whatsapp:latest
    container_name: renewal-whatsapp
    restart: always
    volumes:
      - shared_data:/app/shared
    depends_on:
      - mongodb
    networks:
      - app-network

  database:
    build: ./database
    container_name: database
    restart: always
    volumes:
      - shared_data:/app/shared
    depends_on:
      - mongodb
    networks:
      - app-network

volumes:
  mongo_data:
  shared_data:

networks:
  app-network:
    driver: bridge