version: "3.9"

services:
  mongodb:
    image: mongo:6.0
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - app-network

  ocr:
    build: ./ocr
    container_name: ocr
    restart: always
    volumes:
      - shared_data:/app/shared
    depends_on:
      - mongodb
    networks:
      - app-network

  whatsapp:
    build: ./whatsapp
    container_name: whatsapp
    restart: always
    volumes:
      - shared_data:/app/shared
    depends_on:
      - mongodb
    networks:
      - app-network

  database:
    build: ./database
    container_name: database
    restart: always
    volumes:
      - shared_data:/app/shared
    depends_on:
      - mongodb
    networks:
      - app-network

volumes:
  mongo_data:
  shared_data:

networks:
  app-network:
    driver: bridge
